@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* outline: 1px solid red; */
}

header {
    background-color: #060606;
    /* background-color: #0EBEFF; */
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 0 18px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.brand {
    display: flex;
    gap: 10px;
}

.user p:first-child {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.user p:first-child i {
    margin-left: 10px;
}


.user p:first-child input {
    font-size: 20px;
    width: fit-content;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 500;
    color: white;
    display: none;
}

.user p i {
    font-size: 16px;
    margin-left: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    height: 45px;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

nav ul li a {
    background-color: #444857;
    color: white;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #565b6d;
}

nav ul li i {
    margin-right: 10px;
}

.sign {
    background-color: #47CF73;
    text-decoration: none;
    display: inline-block;
}

.sign {
    color: #060606;
}

.sign:hover {
    color: white;
    background-color: #33a758;
}

.layouts {
    display: flex;
    align-items: center;
    position: relative;
}

.layout-view {
    position: absolute;
    bottom: -100%;
    transform: translate(-76%, 60%);
    left: -50%;
    background-color: #1E1F24;
    border: 3px solid #060606;
    height: fit-content;
    line-height: normal;
    z-index: 999;
    border-radius: 5px;
    display: none;
}

.icon-view {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 15px;
    border: 2px solid #565b6d;
    border-radius: 5px;
    z-index: 9999;
}

.icon-view img {
    padding: 10px 40px;
}

.icon-view img:hover {
    background-color: #292b32;
}

.click-layout {
    display: block;
}

.active {
    background-color: #565b6d;
}

img.active:hover {
    background-color: #565b6d;
}

.view {
    padding: 15px 15px 0;
    font-weight: 500;
}

/* Body */

.container {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 1fr;
}

.coder {
    background-color: #060606;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.code-editor {
    background-color: #1D1E22;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.coder .code-editor:nth-child(2) {
    margin: 20px 0;
}

.code-type {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    color: white;
}

.code-type span {
    display: inline-block;
    padding: 1px 8px;
    background-color: #FF3C41;
    border-radius: 5px;
    margin-right: 8px;
    font-family: 'Fira Code', monospace;
    color: #060606;
}

.coder .code-editor:nth-child(2) .code-type span {
    background-color: #0EBEFF;
}

.coder .code-editor:nth-child(3) .code-type span {
    padding: 3px 3px;
    background-color: #FCD000;
}


.code {
    width: 100%;
    height: 90%;
    background-color: #1D1E22;
    font-family: 'Fira Code', monospace;
}

.output {
    background-color: #060606;
    padding: 5px;
}

.virtual {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.ace-nord-dark .ace_gutter-active-line {
    background-color: #1D1E22 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        min-width: 100vw;
        min-height: 100vh;
    }

    .coder {
        grid-template-columns: repeat(1, 1fr);
    }

    .coder .code-editor:nth-child(2) {
        margin: 0 20px;
    }

    .code {
        height: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        min-width: 100vw;
        min-height: 100vh;
    }

    .coder {
        min-height: 500px;
        grid-template-columns: repeat(1, 1fr);
    }

    .coder .code-editor:nth-child(2) {
        margin: 0 20px;
    }

    .code {
        height: 80%;
    }

    nav ul li {
        display: none;
        height: 40px;
        line-height: 40px;
    }

    .sign {
        display: block;
        padding: 0 5px;
    }

    .login {
        display: block;
        padding: 0 5px;
    }

    .layouts {
        display: none;
    }
}